
  .margin-bottom-30 {
    margin-bottom: 30px;
  }

  .contributor-container{
     margin: 20px;
    padding-top: 30px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 0 20px;
    gap: 20px;
    padding-bottom: 40px;
  }
  
  .contributor-container .cardDiv {
    padding: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .contributor-container .cardDiv:hover {
    transform: translateY(-5px);
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .name {
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .contributions {
    font-size: 14px;
  }

.light-theme-applied .card-border{
    border: 1px solid #3d444d;
    padding: 10px;
}

.card-border{
    border: 1px solid #3d444d;
    padding: 10px;
}
  
